<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form [formGroup]="userAuth" (ngSubmit)="login(userAuth)"> -->
    <ion-list>
      <ion-item>
        <ion-label color="dark" stacked>Email</ion-label>
        <ion-input type="email" placeholder="e.g. example@example.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" stacked>Password</ion-label>
        <ion-input type="password" placeholder="e.g. 54y4p4513n"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full type="submit" color="primary">Login</button>
  <!-- </form> -->
  <p padding-top text-center>Don't have an account yet?</p>
  <button ion-button outline block color="secondary" href="register">Register</button>
</ion-content>
