<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Dokter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary">Spesialis</ion-label>
    <ion-select name="special" placeholder="Pilih Salah Satu" required>
      <ion-select-option value="A">Anak</ion-select-option>
      <ion-select-option value="B">Bedah</ion-select-option>
      <ion-select-option value="F">Fisioterapi</ion-select-option>
      <ion-select-option value="G">Gigi</ion-select-option>
      <ion-select-option value="I">Internis</ion-select-option>
      <ion-select-option value="JD">Jantung & Pembuluh Darah</ion-select-option>
      <ion-select-option value="K">Kandungan</ion-select-option>
      <ion-select-option value="K2">Kulit</ion-select-option>
      <ion-select-option value="M">Mata</ion-select-option>
      <ion-select-option value="O">Orthopedi</ion-select-option>
      <ion-select-option value="P">Paru</ion-select-option>
      <ion-select-option value="S">Saraf</ion-select-option>
      <ion-select-option value="T">THT</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
