<ion-header>
  <ion-toolbar color="secondary" [class.show-background]="showToolbar">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/rsml.png" style="height: 15px; width: 18px;">
      RS MEDIKA LESTARI 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <gl-background-video src="assets/video/medicalback.mp4" mute="false"></gl-background-video>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-content>
      <ion-list>
        <ion-item href="about">About</ion-item>
        <ion-item href="/login">Login</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <!-- <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Custom Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-menu side="end" type="push" contentId="main">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>End Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu> -->
  
  <ion-router-outlet id="main"></ion-router-outlet>

  <!-- <ion-slides pager autoplayDisableOnInteraction="false" autoplay="2000" loop="true" speed="2000" style="height: 200px;" (click)=promoClick()>
		<ion-slide>
			<img style="width: 452px; height: 177px; background-color: transparent" src="http://rsmedikalestari.com/images/spanduk.jpg">
    </ion-slide>

    <ion-slide>
			<img style="width: 452px; height: 177px; background-color: transparent" src="http://rsmedikalestari.com/images/MCU.jpg">
    </ion-slide>
    
    <ion-slide>
			<img style="width: 452px; height: 177px; background-color: transparent" src="http://rsmedikalestari.com/images/FOTO2.jpg">
		</ion-slide>
  </ion-slides> -->
  
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button routerLink="/dokter" routerDirection="root" 
          style="width: 180px; height: 170px; background: transparent; border: solid 1px; border-color: blue;">
          <img style=" width: 64px; height: 64px; " src="assets/icon/doctor.png">
          <h2 style="color: white;">DOKTER</h2>
        </button>
        </ion-col>
        <ion-col col-6>
          <button routerLink="/daftar" routerDirection="root" 
          style="width: 180px; height: 170px; background: transparent; border: solid 1px; border-color: blue;">
          <!-- <ion-icon style="color: white;" name="add"></ion-icon> -->
          <h2 style="color: white;">Daftar</h2>
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <button routerLink="/jadwal" routerDirection="root" 
          style="width: 180px; height: 170px; background: transparent; border: solid 1px; border-color: blue;">
            <!-- <ion-icon style="color: white;" name="calendar"></ion-icon> -->
            <h2 style="color: white;">Praktik</h2>
          </button>
        </ion-col>
        <ion-col col-6>
          <button routerLink="/poli" routerDirection="root" 
          style="width: 180px; height: 170px; background: transparent; border: solid 1px; border-color: blue;">
            <!-- <ion-icon style="color: white;" name="ribbon"></ion-icon> -->
            <h2 style="color: white;">Poli</h2>
          </button>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col col-6>
          <ion-card text-center padding color="danger">
            <img style="width: 400px; height: 25px">
            <ion-icon name="add"></ion-icon>
            <h2>Add Task</h2>
          </ion-card>
        </ion-col>
        <ion-col col-6>
            <ion-card text-center padding color="danger">
              <img style="width: 400px; height: 25px">
              <ion-icon name="calendar"></ion-icon>
              <h2>Appointment</h2>
            </ion-card>
          </ion-col>
      </ion-row> -->
    </ion-grid>
</ion-content>
