<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      RS MEDIKA LESTARI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager autoplayDisableOnInteraction="false" autoplay="2000" loop="true" speed="2000" style="height: 200px;" (click)=promoClick()>
		<ion-slide>
			<img style="width: 452px; height: 177px; background-color: transparent" src="http://rsmedikalestari.com/images/spanduk.jpg">
    </ion-slide>
    <ion-slide>
			<img style="width: 452px; height: 177px; background-color: transparent" src="http://rsmedikalestari.com/images/MCU.jpg">
    </ion-slide>
    <ion-slide>
			<img style="width: 452px; height: 177px; background-color: transparent" src="http://rsmedikalestari.com/images/FOTO2.jpg">
		</ion-slide>
	</ion-slides>
  <ion-button href="/daftar">Daftar</ion-button>
  <ion-button href="/dokter">Dokter</ion-button>
</ion-content>
