<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-right: 1.5cm;">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Full Name</ion-label>
      <ion-input type="fullname" placeholder="Lorem Ipsum"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Email</ion-label>
      <ion-input type="email" placeholder="lorem@ipsum.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button shape="round" expand="block" fill="outline" type="submit">Register</ion-button>
</ion-content>